@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="hero">Hero page</h2>
    <p class="para1">Welcome to our hero page. Enjoy your free time and learn something new.</p>
    <button class="buy">Buy Course</button>
    <button class="start">Get Started</button>
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
